{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="wallpaper"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-2">Shopping Cart</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
                <div class="table-responsive rounded">
                    <table>
                        <thead>
                            <tr scope="col">
                                <td scope="col">Artwork Info</td>
                                <td scope="col"></td>
                                <td scope="col">Price</td>
                                <td scope="col">Qty</td>
                                <td scope="col">Subtotal</td>
                            </tr>
                        </thead>
                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-fluid" src="{{ item.product.art_image.url }}">
                                </td>
                                <td class="p-3 w-2">
                                    <p class="my-0"><strong>{{ item.product.artwork }}</strong></p>
                                    <p class="my-0">Size: <strong>{{ item.size|upper }}</strong></p>
                                </td>
                                <td class="p-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.artwork_id %}">
                                        {% csrf_token %}
                                            <div class="form-group">
                                                <!-- Updated quantity logic code from CI Github Solutions -->
                                                <div class="input-group input-group-{{ item.artwork_id }}">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-dark text-white rounded-0 decrement-qty_{{ item.artwork_id }}" 
                                                                data-item_id="{{ item.artwork_id }}">
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input id_qty_{{ item.artwork_id }}" type="number"
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.artwork_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-dark text-white rounded-0 increment-qty_{{ item.artwork_id }}"
                                                                data-item_id="{{ item.artwork_id }}">
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </form>
                                        <a class="update-link text-info" href="#"><small>Update</small></a>
                                        <a class="remove-item text-danger float-end" href="#" id="remove_{{ item.item_id }}"><small>Remove</small></a>

                                </td>
                                <td class="p-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="text-end">
                            <td colspan="5" class="py-3 text-right">
                                <h4><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr class="text-end">
                            <td colspan="5" class="pb-5">
                                <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span>Keep Shopping</span>
                                </a>
                                <a href="" class="btn btn-outline-dark bg-black text-white rounded-0 btn-lg">
                                    <span>Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p>Your Cart is empty</p>
                <a href="{% url 'products' %}" class="btn btn-outline-dark mb-3">
                    <span class="text-uppercase">
                        Back to Gallery
                    </span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/item_quantity.html' %}

<script>
    // Update quantity on Click
    $('.update-link').click(function(e){
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove quantity on Click
    $('.remove-item').click(function(e){
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url,data)
        .done(function(){
            location.reload();
        });
    })
</script>

{% endblock %}

