<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Shop</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#!">Chalk</a></li>
                <li><a class="dropdown-item" href="#!">Pencil</a></li>
                <li><a class="dropdown-item" href="#!">Paint</a></li>
                <li><a class="dropdown-item" href="#!">Stencil</a></li>
                <li><a class="dropdown-item" href="#!">Miscellaneous</a></li>
            </ul>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div>
                    <p class="my-0"><i class="fas fa-user"></i> My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item">
            <a class="{% if grand_total %}font-weight-bold{% else %} text-black nav-link {% endif %}" href="">
                <div>
                    <p class="my-0">
                        <i class="fa-solid fa-cart-shopping"></i>
                        {% if grand_total %}
                        $({ grand_total|floatformat:2 })
                        {% else %}
                        £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>