{% extends 'base.html' %}
{% load static %}

<!-- The CI BA walkthrough used as guidance to create the following template -->

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 m-auto">
            <h2 class="logo-font text-center my-3">About Us...</h2>
            <div>
                <p class="text-center">
                    Founded in 2024 CEBArt is the leading marketplace for top-quality artwork,
                    All products come with our money back guarantee. Hassle free shopping, delivered
                    straight to your door!
                </p>
                <h2 class="text-center">
                    <a href="{% url 'products' %}" class="btn btn-lg">Click here to explore...</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <h2 class="logo-font text-center">Our Reviews...</h2>
            </div>
        </div>
    </div>
    <div class="row reviews">
        {% for review in reviews %}
        <div class="col-md-6 col-lg-4 col-xl-4 mb-3">
            <div class="card text-bg-light h-100">
                <div class="card-header">Review by: <strong>{{ review.name }}</strong></div>
                <div class="card-body">
                    <p class="card-text">{{ review.review }}</p>
                </div>
                <div class="card-footer">Sent: {{ review.review_date }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}

