{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="dropdown-menu border-0">

        </div>
        <div class="dropdown offset-10 pt-3">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
            </button>
            <ul class="dropdown-menu">
                <a href="{% url 'products' %}?=sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
        </div>
        <div class="container header-container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 product-container offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="mt-1 mb-2 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100">
                        {% if product.art_image %}
                        <a href="{% url 'artwork_details' product.id %}">
                            <img class="card-img-top img-fluid border border-secondary border-5"
                                src="{{ product.art_image.url }}" alt="{{ product.name }}" />
                        </a>
                        {% else %}
                        <a href="{% url 'artwork_details' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimg.png"
                                alt="{{ product.name }}" />
                        </a>
                        {% endif %}
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ product.artwork }}</h5>
                            </div>
                        </div>
                        <div class="card-footer pt-0 border-top-0 bg-transparent">
                            <div class="row">
                                <div class="col text-center">
                                    <p>£{{ product.price }}</p>
                                    {% if product.art_category %}
                                    <p>
                                        <a class="text-muted"
                                            href="{% url 'products' %}?category={{ product.art_category.name }}">
                                            <i class="fas fa-tag"></i>{{ product.art_category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if product.rating %}
                                    <small class="text-muted"><i
                                            class="fas fa-star mr-1"></i>{{ product.rating }}/5</small>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    {% else %}
                                    <small class="text-muted">No rating</small>
                                    {% endif %}
                                    <p><a class="btn btn-outline-dark mt-auto"
                                            href="{% url 'artwork_details' product.id %}">View</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
