{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center my-3">
            <h2>Art Gallery</h2>     
            {% for i in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ i.name }}">
                        <span class="p-2 mx-1 my-3 badge badge-white text-black rounded-0 border border-dark">{{ i.friendly_name }}</span>
                    </a>
            {% endfor %}
        </div>
        <div class="container header-container">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 product-container">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-sm-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}Selected{% endif %}>Filter</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}Selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}Selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}Selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}Selected{% endif %}>Rating (high to low)</option>
                            <option value="artwork_asc" {% if current_sorting == 'artwork_asc' %}Selected{% endif %}>Name (A-Z)</option>
                            <option value="artwork_desc" {% if current_sorting == 'artwork_desc' %}Selected{% endif %}>Name (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="mt-2 mb-2 col-sm-6 col-md-5 col-lg-3 col-xl-2">
                    <div class="card h-100">
                        {% if product.art_image %}
                        <a href="{% url 'artwork_details' product.id %}">
                            <img class="card-img-top img-fluid border border-secondary border-5"
                                src="{{ product.art_image.url }}" alt="{{ product.name }}" />
                        </a>
                        {% else %}
                        <a href="{% url 'artwork_details' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimg.png"
                                alt="{{ product.name }}" />
                        </a>
                        {% endif %}
                        <div class="card-body mt-2">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ product.artwork }}</h5>
                            </div>
                        </div>
                        <div class="card-footer border-top-0 bg-transparent">
                            <div class="row">
                                <div class="col text-center">
                                    <p>£{{ product.price }}</p>
                                    {% if product.art_category %}
                                    <p>
                                        <a class="text-muted"
                                            href="{% url 'products' %}?category={{ product.art_category.name }}">
                                            <i class="fas fa-tag"></i>{{ product.art_category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if product.rating %}
                                    <p>
                                        <small class="text-muted"><i
                                            class="fas fa-star"></i>{{ product.rating }}/5</small>
                                    </p>
                                    {% else %}
                                    <small class="text-muted">No rating</small>
                                    {% endif %}
                                    <p><a class="btn btn-outline-dark mt-auto"
                                            href="{% url 'artwork_details' product.id %}">View</a></p>
                                    {% if request.user.is_superuser %}
                                        <small class="ml-3">
                                            <a href="{% url 'update_product' product.id %}">Update</a>
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm-rounded-0 border border-dark">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-chevron-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e){
            window.scrollTo(0,0)
        })
    </script>
<script type="text/javascript">
    $('#sort-selector').change(function() {
        var select = $(this);
        var currentUrl = new URL(window.location);

        var option = select.val();
        if(option != "reset"){
            var sort = option.split("_")[0];
            var direction = option.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}


