{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container container-fluid px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">{% if product.art_image %}
                <a href="{{ product.art_image.url }}" target="_blank">
                    <img class="card-img-top img-fluid border border-secondary border-5"
                        src="{{ product.art_image.url }}" alt="{{ product.name }}" />
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}" />
                </a>
                {% endif %}</div>
            <div class="col-md-6">
                <div class="small mb-2">SKU: {{ product.product_num }}</div>
                <h1 class="display-5 fw-bolder">{{ product.artwork }}</h1>
                <div class="fs-5 mb-2">
                    <span>£{{ product.price }}</span>
                </div>
                <div class="mb-3">
                    {% if product.art_category %}
                    <p>
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.art_category.name }}">
                            <i class="fas fa-tag"></i>{{ product.art_category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                    <small class="text-muted mb-2"><i class="fas fa-star"></i>{{ product.rating }}/5</small>
                    {% else %}
                    {% endif %}
                </div>
                <p class="lead">{{ product.description }}</p>
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_sizes as s %}
                        {% if s %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-dark text-white rounded-0 decrement-qty_{{ product.id }}" 
                                            data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-dark text-white rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/item_quantity.html' %}
{% endblock %}